body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* we don't support our enemy. */
.leaflet-attribution-flag 
{
  width: 0;
  height: 0;
  visibility: hidden;
}
/* works but hides the OSM copyright */
.leaflet-control-attribution
{
  visibility: hidden;
}